body
{
    background-color: white;
    font-family: sansserif;
    font-size: 11pt;
    text-align: left;
}

li 
{
    padding-top:2px;
    padding-bottom:2px;
}

#content 
{
    float:left;
    position:absolute;
    left:150px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-width: 700px;
    color: #2e2e2e;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
}

#nav {
    margin-top: 20px;
    padding: 10px;
    width: 125px;
    float: left;
    border: 0px solid #218e1b;
}

h1 
{ 
    color: #000;
    font-weight: normal;
    font-size: 15pt;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    text-align: left;
    padding: 0px;
    font-weight: bold;
}

hr {
    border: 0;
    height: 1px;
    color: #bababa;
    background-color: #bababa;
   }

h2 {
    font-size: 13pt;
    color: #218e1b;
    clear: both;
    padding-bottom: 2px; 
    margin-top: 20px;
}

h3 {
    font-size: 11pt;
    margin-top: 20px;
    color: #218e1b;
}


table 
{ 
    border: 1px solid #bababa;
}

.figure
{
    margin-left: 20px;
    margin-right: 20px;
    font-size:9pt;
}

div#postamble
{
    text-align:right;
    font-size:8pt;
    padding-right: 20px;
    padding-left: 20px;
    padding-top:0.3em;
    padding-bottom:1em;
    margin-top:80px;
    line-height:50%;
    border-top:1px solid #333333;
}

div#postamble-extra 
{
    font-size:8pt;
}

#nav h3 {
    font-size: 11pt;
} 

a {
    color: #218e1b;
}

img.inline
{
    margin:5px;
    margin-right: 20px;
    float: left;
}